* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

.background {
    height: 100%;
    background-image: url("../assets/images/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    min-width: 448px;
    border-radius: 12px;
    background-color: white;
    padding: 24px;
}

.title {
    font-size: 18.28px;
    line-height: 28px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 16px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
}

.form-group input {
    min-height: 42px;
    padding: 9px 12px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.err {
    color: red;
    font-size: 14px;
    position: absolute;
    margin-top: 40px;
    display: none;
}

.register-btn {
    background: #16A34A;
    border-radius: 4px;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

.link {
    display: flex;
    gap: 3px;
    justify-content: center;
    padding-top: 16px;
}


.link a {
    text-decoration: none;
}

.successfully {
    color: #24A600;
    font-size: 15px;
    display: none;
}